<section class="todoBackground" id="actionPageEvent">
	
		<header  class="appPageHeader">
				<a class="backBtn" href="{{rootUrl}}#/actionPage"></a>
				<h1>
					Evènement
				</h1>
		</header>
		<div class="topListBoxFull lastTops">

			<header>
				<div class="topActionHeaderDiv">
					<h2 class="title">Sauter en parachute</h2>
					<div class="roundBox">22</div>
					<div class="appBtn">Rejoindre</div>
				</div>
			</header>
			<div class="usersList">
				<span>Liste des participants</span>
				<ul>
					<li>
						<div class="listUserAvatar roundBox">22</div>
						<div class="listUserName">Mistermika</div>
						<div class="listUserDistance">23kms</div>
						<div class="listUserRemove"></div>
					</li>
				</ul>
				
			</div>
			<div class="eventInfos">

				<ul>
						<li class="eventInfosName">
							<label>Nom du lieu : </label>
							<span>La petite maison</span>
						</li>
						<li class="eventInfosAdress">
							<label>Adresse du lieu : </label>
							<span>11 av faidherbe ...</span>
							<div class="eventInfosDistance">(44 km)</div>
						</li>
						<li class="eventInfosPrice">
							<label>Prix: </label>
							<span>200</span>
						</li>
						<li class="eventInfosDesc">
							<label>Description: </label>
							<span>Infos desc</span>
						</li>
						<li class="eventInfosSite">
							<label>Site internet : </label>
							<a href="#" target="_blank">url web</a>
						</li>
				</ul>

			</div>
			<div class="eventPhotos">
				<h2>photos</h2>
				<div class="closerBtn"><</div>
			</div>
			<div class="eventChatRoom">
				<h2>chatRoom</h2>
				<div class="closerBtn"><</div></div>
				


		</div>
</section>