<section class="todoBackground" id="topActions">
	
		<header  class="appPageHeader">
				<a class="backBtn" href="{{rootUrl}}#/home"></a>
				<h1>
					Les meilleurs actions
				</h1>
		</header>
		<div class="topListBox lastTops">
			<header>
				<div class="topActionHeaderDiv">
					<h2 class="title">Derniers actions ajoutées</h2>
					<div class="roundBox">22</div>
				</div>
			</header>

			<div class="actionsList">
					<ul>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<a class="seeMore" href="{{rootUrl}}#/topActionsPage">Voir plus</a>
						</li>
					</ul>
			</div>
			
		</div>
		<div class="topListBox lastTops">
			<header>
				<div class="topActionHeaderDiv">
					<h2 class="title">Evènements cette semaine</h2>
					<div class="roundBox">22</div>
				</div>
			</header>
			
			<div class="actionsList">
					<ul>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<a class="seeMore" href="{{rootUrl}}#/topActionsPage">Voir plus</a>
						</li>
					</ul>
			</div>
		</div>
		<div class="topListBox lastTops">
			<header>
				<div class="topActionHeaderDiv">
					<h2 class="title">Amis et contacts</h2>
					<div class="roundBox">22</div>
				</div>
			</header>
			
			<div class="actionsList">
					<ul>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<a class="seeMore" href="{{rootUrl}}#/topActionsPage">Voir plus</a>
						</li>
					</ul>
			</div>
		</div>
		<div class="topListBox lastTops">
			<header>
				<div class="topActionHeaderDiv">
					<h2 class="title">Actions populaires</h2>
					<div class="roundBox">22</div>
				</div>
			</header>
			
			<div class="actionsList">
					<ul>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<a class="seeMore" href="{{rootUrl}}#/topActionsPage">Voir plus</a>
						</li>
					</ul>
			</div>
		</div>
		
</section>