<section class="todoBackground" id="topActionsPage">
	
		<header  class="appPageHeader">
				<a class="backBtn" href="{{rootUrl}}#/topActions"></a>
				<h1>
					Les meilleurs actions
				</h1>
		</header>
		<div class="topListBoxFull lastTops">
			<header>
				<div class="topActionHeaderDiv">
					<h2 class="title">Derniers actions ajoutées</h2>
					<div class="roundBox">22</div>
				</div>
			</header>
			
			<div class="actionsList">
					<ul>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
						<li>
							<div class="listItemName"> Sauter en parachute </div>
							<a class="roundBox actionCounter" href="{{rootUrl}}#/actionPage">22</a>
						</li>
					</ul>
			</div>
		</div>
</section>